body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e6fa;
    color: #800080; 
}

#textInput {
position: fixed;
margin-left: 10cm;
margin-top: 5cm;
}

button {
    position: fixed;
    margin-left: 38cm;
    margin-top: 5.2cm;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
}

button:hover {
    background-color: #45a049;
}

.line {
    border: none;
    height: 2px;
    background-color: #9370DB;
}

#box {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    max-width: 30cm;
    display: flex;
}

#box div {
    margin: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    cursor: pointer;
    background-color: white;
}